@model prenota.Models.Utente
@{
    ViewData["Title"] = "Prenota";
}

<h2>Modulo di prenotazioni </h2>
<p>riempi i seguenti campi e registrati nel nostro sito</p>


<form asp-controller="Home" asp-action="Prenotato" method="post">

  <div class="form-group">
    <label asp-for="Nome"></label>
    <input type="text" asp-for="Nome" class="form-control" />
    <span asp-validation-for="Nome" />
  </div>
  
  <div class="form-group">
    <label asp-for="Cognome"></label>
    <input type="text" asp-for="Cognome" class="form-control" />
    <span asp-validation-for="Cognome" />
  </div>
  
  <div class="form-group">
   <label asp-for="Tipo"></label>
    <select type="text" asp-for="Tipo" class="form-control">
      <option>Sostenitore</option>
      <option>Programmatore</option>
      <option>Musicista</option>
    </select>
    <span asp-validation-for="Tipo" />
  </div>
  
  <div class="form-group">
    <label asp-for="Email"></label>
    <textarea asp-for="Email" class="form-control"></textarea>
    <span asp-validation-for="Email" />
  </div>
  
  <div class="form-group">
    <div asp-validation-summary="All"></div>
    <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-send"></i>Prenota</button>
  </div>
</form>


<div class="text-center">
    <h1 class="display-4">Pagina di prenotazione</h1>

</div>
